<div class="col-12">
  <div class="d-flex align-items-center justify-content-between w-100">
    <h2>Dashboard</h2>
    <div>
      You are logged in as <strong><%= current_subscriber.email %></strong>
      <%= link_to 'Logout', login_destroy_path, class: 'btn btn-light btn-sm', data: { 'turbo-method': :delete }, title: 'Logout' %>
    </div>
  </div>

  <div class="my-4">
    <h4>My favorites</h4>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Comic</th>
            <th>Number</th>
            <th>Added on</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <% current_subscriber.favorites.includes(:comic).order(created_at: :desc).each do |favorite| %>
          <tr>
            <td>
              <%= link_to favorite.comic.title, iterator_show_path(favorite.comic.num), target: '_blank', title: 'Navigate to comic' %>
            </td>
            <td>#<%= favorite.comic.num %></td>
            <td><%= favorite.created_at.strftime('%b %d, %Y') %></td>
            <td>
              <%= link_to dashboard_remove_from_faves_path(favorite.id), data: { 'turbo-method': :delete }, class: 'btn btn-light btn-sm', title: 'Remove from favorites' do %>
                <%= faw_icon 'solid', 'trash' %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <h4>Subscriptions</h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Created at</th>
            <th>Updated at</th>
          </tr>
        </thead>
        <tbody>
        <% current_subscriber.subscriptions.each do |subscription| %>
          <tr>
            <td><%= subscription.label %></td>
            <td>
              <% if subscription.active? %>
                <%= link_to dashboard_deactivate_subscription_path(subscription.subscriber_id), data: { 'turbo-method': :delete }, class: 'btn btn-light active', title: 'Unsubscribe' do %>
                  Unsubscribe
                <% end %>
              <% else %>
                <%= link_to dashboard_activate_subscription_path(subscription.subscriber_id), class: 'btn btn-light', title: 'Subscribe' do %>
                  Subscribe
                <% end %>
              <% end %>
            </td>
            <td><%= subscription.created_at %></td>
            <td><%= subscription.updated_at %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <h4>Comics received</h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Sent to</th>
            <th>Sent on</th>
          </tr>
        </thead>
        <tbody>
        <% current_subscriber.email_receipts.includes(:comic).order(created_at: :desc).each do |email_receipt| %>
          <tr>
            <td><%= email_receipt.comic.num %></td>
            <td>
              <%= link_to email_receipt.comic.title, iterator_show_path(email_receipt.comic.num), target: '_blank', title: 'Navigate to comic' %>
            </td>
            <td><%= email_receipt.subscriber.email %></td>
            <td><%= email_receipt.created_at %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
