<%= form_with(model: subscription, local: true) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subs_name %>
    <%= form.text_field :subs_name, id: :subscription_subs_name %>
  </div>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, id: :subscription_label %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.text_field :active, id: :subscription_active %>
  </div>

  <div class="field">
    <%= form.label :subscriber_id %>
    <%= form.text_field :subscriber_id, id: :subscription_subscriber_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
